.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 1px;
	padding: 0;
	background-color: lightgray;
}

.grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  font-size: 14px;
}

.menu {
	grid-row-start: 1;
	grid-row-end: 7;
    display: block;
	background-color: lightgray;
	padding: 0px;
	border: solid black;
	margin: 0;
}

.menu li {
	list-style-type: none;
}

.menu a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}


.menu a.current {
	background: #8f746c;
	border-radius: 4px;
}

.header {
	grid-column-start: 2;
	grid-column-end: 7;
	border: solid black;
}

.top-navigation {
	grid-column-start: 2;
	grid-column-end: 7;
	border: solid black;
}

.top-navigation ul {
	text-align: left;
	list-style-type: none;
	margin-right: 10px;
}

.top-navigation li {
	display: inline-block;
	margin: 20px;	
}

.top-navigation li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	padding: 6px;
}
 

.body {
	grid-area: 3 / 2 / 7 / 5;
	border: solid black;
  }

  p {
	  font-size: 14px;
  }

.circles {
	grid-area: 3 / 5 / 7 / 7;
	border: solid black
  }

  .floating-box {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 3px solid #73AD21; 
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	background-color: DodgerBlue;
  }
  
  .flex-container > div {
	background-color: #f1f1f1;
	width: 50px;
	margin: 5px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
  }
